<div ng-controller="ComponentAddCtrl" layout="row">


    <!-- Gauche -->
    <div flex>


        <h1 class="md-display-2">Create a widget</h1>


        <div layout="column" layout-align="center">


            <h4>{{'chooseNamePlugin' | translate}}</h4>
            <md-input-container>
                <label>{{ 'nameOfPlugin'}}</label>
                <input ng-model="widgetCreator.name" type="text">
            </md-input-container>
            <md-input-container>
                <label>{{ 'colorOfPlugin'}}</label>
                <input ng-model="widgetCreator.color" type="text">
            </md-input-container>
            <jade-icons iconselected="onIconChoosed(icon)"></jade-icons>

            <p>{{ 'selectRWidget' | translate}}</p>

            <md-select placeholder="Pick" ng-model="pluginModel" ng-change="onChangePlugin(pluginModel)">
                <md-option value="{{localPlugin}}" ng-repeat="localPlugin in localPlugins">{{localPlugin.name}}
                </md-option>
            </md-select>


            <p>{{ 'descriptionPlugin' | translate}}</p>
            {{pluginSelected.description}}

            <div flex ng-repeat="param in pluginSelected.params">
                <md-input-container>
                    <label>{{param.description}}</label>
                    <input ng-model="widgetCreator.params[param.name]" type="{{param.type}}">
                </md-input-container>


            </div>

            <!--<i class="fa fa-{{widgetCreator.icon}}"></i>-->



            <!-- Valid Widget -->
            <md-button ng-click="onValidWidget()">{{'send' | translate}}</md-button>

            {{widgetCreator}}


        </div>


    </div>

    <!-- Right -->
    <div flex>
        <jade-widget  widget="widgetCreator"></jade-widget>
    </div>
</div>